*{
    box-sizing:border-box;
}
html {
  font-size: 14px;
}

@media (min-width: 768px) {
html {
    font-size: 16px;
  }
.sticky-image {
        width: 60px;
        height: 60px;
        bottom: 70px;
        left: 15px;
    }

}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.footer {
    position: relative;
    z-index: 999;
}

.sticky-image {
    position: fixed;
    bottom: -5px; 
    left: -20px;
    width: 350px;
    height: 168px;
    z-index: 1000;
    transition: transform 4s ease;
    cursor:wait;
}

    .sticky-image:hover {
        transform: scale(2.5)rotate(-45deg);
    }

